<div class="nested-fields border border-gray-400 rounded-xl p-4">
    <%= f.hidden_field :id %>

    <div class="flex justify-center font-medium">
        Question
    </div>

    <div class="flex flex-col gap-2">
        <p>
            <%= f.label :content, class: "text-sm cursor-pointer font-medium" %><br>
            <%= f.text_area :content, class: "w-full px-2 h-10 min-h-[5rem] border focus:border text-sm focus:border-blue-400 border-gray-400 pt-1 rounded-xl" %>
        </p>

        <div data-controller="image-preview">
            <%= f.label :question_picurl, "Question Picture", class: "text-sm font-medium" %><br>

            <%= f.file_field :question_picurl,
      class: "mt-1 block w-fit cursor-pointer text-sm text-gray-900 file:mr-4 file:py-2 file:px-4 file:rounded-xl file:text-sm file:font-semibold file:border file:border-rose-400 file:text-black hover:file:bg-blue-50",
      accept: "image/*",
      data: {
        "image-preview-target": "input",
        action: "change->image-preview#preview"
      } %>

            <img src="<%= f.object.question_picurl.attached? ? url_for(f.object.question_picurl) : '#' %>" alt="Image Preview" class="mt-2 aspect-[16/9]  object-contain bg-transparent rounded-xl shadow-lg border border-gray-400 <%= f.object.question_picurl.attached? ? '' : 'hidden' %>" data-image-preview-target="preview" />
        </div>


        <p>
            <%= f.label :answer1, class: "text-sm cursor-pointer font-medium" %><br>
            <%= f.text_field :answer1, class: "w-full px-2 h-10 border text-sm focus:border-blue-400 border-gray-400 pt-1 rounded-xl" %>
        </p>

        <p>
            <%= f.label :answer2, class: "text-sm cursor-pointer font-medium" %><br>
            <%= f.text_field :answer2, class: "w-full px-2 h-10 border text-sm focus:border-blue-400 border-gray-400 pt-1 rounded-xl" %>
        </p>

        <p>
            <%= f.label :answer3, class: "text-sm cursor-pointer font-medium" %><br>
            <%= f.text_field :answer3, class: "w-full px-2 h-10 border text-sm focus:border-blue-400 border-gray-400 pt-1 rounded-xl" %>
        </p>

        <p>
            <%= f.label :answer4, class: "text-sm cursor-pointer font-medium" %><br>
            <%= f.text_field :answer4, class: "w-full px-2 h-10 border text-sm focus:border-blue-400 border-gray-400 pt-1 rounded-xl" %>
        </p>

        <p>
            <%= f.label :correct_answer, "Correct Answer (1 – 4)", class: "text-sm cursor-pointer font-medium" %><br>
            <%= f.number_field :correct_answer, in: 1..4, class: "w-full px-2 h-10 border text-sm focus:border-blue-400 border-gray-400 pt-1 rounded-xl" %>
        </p>

        <div class="flex justify-end mt-2">
            <%= link_to_remove_association "Remove Question", f, class: "remove-question flex justify-end h-10 w-fit px-4 rounded-xl bg-red-400 flex items-center justify-center text-white" %>
        </div>
    </div>
</div>