
<div class="border border-gray-400 rounded-xl p-4 mt-4 mb-4 md:max-w-3xl mx-auto">
<%= form_with model: @category, url: update_questions_category_path(@category), local: true, html: { multipart: true } do |f| %>
<div>
    <h1 class="text-center text-2xl font-semibold"> Edit Quiz? </h1>
    <div class="flex flex-col gap-2">
    <p>
        <%= f.label :category_name,class:"text-sm font-medium" %><br>
        <%= f.text_field :category_name , class: "w-full px-2 h-10 border focus:border text-sm focus:border-blue-400 border-gray-400 rounded-xl" %>
    </p>

    <p>
        <%= f.label :category_description ,class:"text-sm font-medium "%><br>
        <%= f.text_area :category_description, class: "w-full px-2 h-10 min-h-[5rem] border focus:border text-sm focus:border-blue-400 border-gray-400 pt-1 rounded-xl" %>
    </p>

    <p class="w-fit ">
        <%= f.label :Category_Picture,class:"text-sm cursor-pointer font-medium" %><br>
        <%= f.file_field :category_picurl, class: "mt-1 block w-fit cursor-pointer text-sm  text-gray-900 file:mr-4 file:py-2 file:px-4 file:rounded-xl  file:text-sm file:font-semibold file:border file:border-rose-400 file:text-black hover:file:bg-blue-50" %>
    </p>
    </div>
</div>

<div id="questions" class="flex flex-col space-y-4 mt-2">
    <%= f.fields_for :questions do |qf| %>
    <%= render 'question_fields', f: qf ,index: qf.index.to_i + 1%>
    <% end %>
</div>


<div class="flex items-center gap-4 mt-4">
<%= link_to_add_association ' Add Question', f, :questions,
class: "inline-block text-white bg-blue-500 px-4 py-2 rounded hover:bg-blue-600 transition rounded-xl",
data: { association_insertion_node: '#questions', association_insertion_method: :append } %>

<%= f.submit "Update Questions",class:"flex justify-end h-10 w-fit px-4 rounded-xl bg-green-400 flex items-center justify-center text-white" %>
</div>
<% end %>
</div>